#log_panel {
    dock: bottom;
    height: 15;
    border-top: tall #1DB954;
    background: #121212;
    display: none;
    layer: logs;
}

#log_panel.-visible {
    display: block;
}

#system_logs {
    height: 1fr;
    width: 100%;
    padding: 0 1;
    color: #FFFFFF;
    background: transparent;
}
